In [2]:
%pip install faker pandas -q

Collecting faker
  Downloading Faker-18.3.4-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 5.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pandas in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (from faker) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/barteus/Work/tutorials/kubecon2023demo/.venv/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.3.4

In [3]:
import re

import faker
import pandas as pd

In [4]:
def transform_columns(columns):
    return [re.sub("\(|\)", "", re.sub("-|--|\.|\s", "_", c.lower())).replace("__", "_")
            for c in columns]

# Clinical Data Breast Cancer dataset

In [6]:
df_breast_cancer = pd.read_csv("./app/data/clinical_data_breast_cancer.csv")
df_breast_cancer.head()

,Complete TCGA ID,Gender,Age at Initial Pathologic Diagnosis,ER Status,PR Status,HER2 Final Status,Tumor,Tumor--T1 Coded,Node,Node-Coded,...,PAM50 mRNA,SigClust Unsupervised mRNA,SigClust Intrinsic mRNA,miRNA Clusters,methylation Clusters,RPPA Clusters,CN Clusters,Integrated Clusters (with PAM50),Integrated Clusters (no exp),Integrated Clusters (unsup exp)
0,TCGA-A2-A0T2,FEMALE,66,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,Basal-like,0,-13,3,5,Basal,3,2,2,2
1,TCGA-A2-A0CM,FEMALE,40,Negative,Negative,Negative,T2,T_Other,N0,Negative,...,Basal-like,-12,-13,4,4,Basal,4,2,1,1
2,TCGA-BH-A18V,FEMALE,48,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,Basal-like,-12,-13,5,5,Basal,1,2,2,2
3,TCGA-BH-A18Q,FEMALE,56,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,Basal-like,-12,-13,5,5,Basal,1,2,2,2
4,TCGA-BH-A0E0,FEMALE,38,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,Basal-like,0,-13,5,5,Basal,1,2,2,2

In [7]:
df_breast_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Complete TCGA ID                     105 non-null    object
 1   Gender                               105 non-null    object
 2   Age at Initial Pathologic Diagnosis  105 non-null    int64
 3   ER Status                            105 non-null    object
 4   PR Status                            105 non-null    object
 5   HER2 Final Status                    105 non-null    object
 6   Tumor                                105 non-null    object
 7   Tumor--T1 Coded                      105 non-null    object
 8   Node                                 105 non-null    object
 9   Node-Coded                           105 non-null    object
 10  Metastasis                           105 non-null    object
 11  Metastasis-Coded                     105 non-null    object
 12  AJCC Stage                           105 non-null    object
 13  Converted Stage                      105 non-null    object
 14  Survival Data Form                   105 non-null    object
 15  Vital Status                         105 non-null    object
 16  Days to Date of Last Contact         105 non-null    int64
 17  Days to date of Death                11 non-null     float64
 18  OS event                             105 non-null    int64
 19  OS Time                              105 non-null    int64
 20  PAM50 mRNA                           105 non-null    object
 21  SigClust Unsupervised mRNA           105 non-null    int64
 22  SigClust Intrinsic mRNA              105 non-null    int64
 23  miRNA Clusters                       105 non-null    int64
 24  methylation Clusters                 105 non-null    int64
 25  RPPA Clusters                        105 non-null    object
 26  CN Clusters                          105 non-null    int64
 27  Integrated Clusters (with PAM50)     105 non-null    int64
 28  Integrated Clusters (no exp)         105 non-null    int64
 29  Integrated Clusters (unsup exp)      105 non-null    int64
dtypes: float64(1), int64(12), object(17)
memory usage: 24.7+ KB

In [8]:
fake = faker.Faker()

In [9]:
df_breast_cancer["First Name"] = [fake.first_name_female() for _ in
                                  range(df_breast_cancer.shape[0])]
df_breast_cancer["Last Name"] = [fake.last_name_female() for _ in range(df_breast_cancer.shape[0])]
df_breast_cancer.columns = transform_columns(df_breast_cancer.columns)
df_breast_cancer.head()

,complete_tcga_id,gender,age_at_initial_pathologic_diagnosis,er_status,pr_status,her2_final_status,tumor,tumor_t1_coded,node,node_coded,...,sigclust_intrinsic_mrna,mirna_clusters,methylation_clusters,rppa_clusters,cn_clusters,integrated_clusters_with_pam50,integrated_clusters_no_exp,integrated_clusters_unsup_exp,first_name,last_name
0,TCGA-A2-A0T2,FEMALE,66,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,-13,3,5,Basal,3,2,2,2,Melissa,Johnson
1,TCGA-A2-A0CM,FEMALE,40,Negative,Negative,Negative,T2,T_Other,N0,Negative,...,-13,4,4,Basal,4,2,1,1,Cynthia,Watson
2,TCGA-BH-A18V,FEMALE,48,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,-13,5,5,Basal,1,2,2,2,Tracy,Peters
3,TCGA-BH-A18Q,FEMALE,56,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,-13,5,5,Basal,1,2,2,2,Angela,Baxter
4,TCGA-BH-A0E0,FEMALE,38,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,-13,5,5,Basal,1,2,2,2,Christina,Cohen

In [11]:
df_breast_cancer.to_csv("./app/data/clinical_data_breast_cancer_with_columns.csv", index=False)

In [12]:
read_csv = pd.read_csv("./app/data/clinical_data_breast_cancer_with_columns.csv")
read_csv.head()

,complete_tcga_id,gender,age_at_initial_pathologic_diagnosis,er_status,pr_status,her2_final_status,tumor,tumor_t1_coded,node,node_coded,...,sigclust_intrinsic_mrna,mirna_clusters,methylation_clusters,rppa_clusters,cn_clusters,integrated_clusters_with_pam50,integrated_clusters_no_exp,integrated_clusters_unsup_exp,first_name,last_name
0,TCGA-A2-A0T2,FEMALE,66,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,-13,3,5,Basal,3,2,2,2,Melissa,Johnson
1,TCGA-A2-A0CM,FEMALE,40,Negative,Negative,Negative,T2,T_Other,N0,Negative,...,-13,4,4,Basal,4,2,1,1,Cynthia,Watson
2,TCGA-BH-A18V,FEMALE,48,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,-13,5,5,Basal,1,2,2,2,Tracy,Peters
3,TCGA-BH-A18Q,FEMALE,56,Negative,Negative,Negative,T2,T_Other,N1,Positive,...,-13,5,5,Basal,1,2,2,2,Angela,Baxter
4,TCGA-BH-A0E0,FEMALE,38,Negative,Negative,Negative,T3,T_Other,N3,Positive,...,-13,5,5,Basal,1,2,2,2,Christina,Cohen

# PAM50 proteins dataset

In [13]:
df_pam50 =pd.read_csv("./app/data/PAM50_proteins.csv")
df_pam50.head()

,GeneSymbol,RefSeqProteinID,Species,Gene Name
0,MIA,NP_006524,Homo sapiens,melanoma inhibitory activity
1,FGFR4,NP_002002,Homo sapiens,fibroblast growth factor receptor 4
2,FGFR4,NP_998812,Homo sapiens,fibroblast growth factor receptor 4
3,FGFR4,NP_075252,Homo sapiens,fibroblast growth factor receptor 4
4,GPR160,NP_055188,Homo sapiens,G protein-coupled receptor 160

In [14]:
df_pam50.columns = transform_columns(df_pam50.columns)
df_pam50.head()

,genesymbol,refseqproteinid,species,gene_name
0,MIA,NP_006524,Homo sapiens,melanoma inhibitory activity
1,FGFR4,NP_002002,Homo sapiens,fibroblast growth factor receptor 4
2,FGFR4,NP_998812,Homo sapiens,fibroblast growth factor receptor 4
3,FGFR4,NP_075252,Homo sapiens,fibroblast growth factor receptor 4
4,GPR160,NP_055188,Homo sapiens,G protein-coupled receptor 160

In [16]:
df_pam50.to_csv("./app/data/PAM50_proteins_with_columns.csv", index=False)
read_df_pam50 = pd.read_csv("./app/data/PAM50_proteins_with_columns.csv")
read_df_pam50.head()

,genesymbol,refseqproteinid,species,gene_name
0,MIA,NP_006524,Homo sapiens,melanoma inhibitory activity
1,FGFR4,NP_002002,Homo sapiens,fibroblast growth factor receptor 4
2,FGFR4,NP_998812,Homo sapiens,fibroblast growth factor receptor 4
3,FGFR4,NP_075252,Homo sapiens,fibroblast growth factor receptor 4
4,GPR160,NP_055188,Homo sapiens,G protein-coupled receptor 160

# 77 Cancer Proteomes

In [18]:
df_77proteomes =pd.read_csv("./app/data/77_cancer_proteomes_CPTAC_itraq.csv")
df_77proteomes.head()

,refseq_accession_number,gene_symbol,gene_name,ao_a12d_01tcga,c8_a131_01tcga,ao_a12b_01tcga,bh_a18q_02tcga,c8_a130_02tcga,c8_a138_03tcga,e2_a154_03tcga,...,ao_a12b_34tcga,a2_a0sw_35tcga,ao_a0jl_35tcga,bh_a0bv_35tcga,a2_a0ym_36tcga,bh_a0c7_36tcga,a2_a0sx_36tcga,263d3f_i_cptac,blcdb9_i_cptac,c4155b_c_cptac
0,NP_958782,PLEC,plectin isoform 1,1.096131,2.609943,-0.659828,0.195341,-0.494060,2.765081,0.862659,...,-0.963904,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.398560,0.598585,-0.191285,0.566975
1,NP_958785,NaN,plectin isoform 1g,1.111370,2.650422,-0.648742,0.215413,-0.503899,2.779709,0.870186,...,-0.938210,-0.487772,-0.10668,-0.055893,0.658143,-0.547749,-0.392601,0.606697,-0.183918,0.578702
2,NP_958786,PLEC,plectin isoform 1a,1.111370,2.650422,-0.654285,0.215413,-0.500619,2.779709,0.870186,...,-0.943919,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
3,NP_000436,NaN,plectin isoform 1c,1.107561,2.646374,-0.632113,0.205377,-0.510459,2.797995,0.866423,...,-0.935355,-0.487772,-0.10668,-0.055893,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
4,NP_958781,NaN,plectin isoform 1e,1.115180,2.646374,-0.640428,0.215413,-0.503899,2.787023,0.870186,...,-0.935355,-0.503853,-0.10668,-0.062523,0.651264,-0.556675,-0.395581,0.603993,-0.167079,0.576747

In [19]:
df_77proteomes.columns = transform_columns(df_77proteomes.columns)
df_77proteomes.head()

,refseq_accession_number,gene_symbol,gene_name,ao_a12d_01tcga,c8_a131_01tcga,ao_a12b_01tcga,bh_a18q_02tcga,c8_a130_02tcga,c8_a138_03tcga,e2_a154_03tcga,...,ao_a12b_34tcga,a2_a0sw_35tcga,ao_a0jl_35tcga,bh_a0bv_35tcga,a2_a0ym_36tcga,bh_a0c7_36tcga,a2_a0sx_36tcga,263d3f_i_cptac,blcdb9_i_cptac,c4155b_c_cptac
0,NP_958782,PLEC,plectin isoform 1,1.096131,2.609943,-0.659828,0.195341,-0.494060,2.765081,0.862659,...,-0.963904,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.398560,0.598585,-0.191285,0.566975
1,NP_958785,NaN,plectin isoform 1g,1.111370,2.650422,-0.648742,0.215413,-0.503899,2.779709,0.870186,...,-0.938210,-0.487772,-0.10668,-0.055893,0.658143,-0.547749,-0.392601,0.606697,-0.183918,0.578702
2,NP_958786,PLEC,plectin isoform 1a,1.111370,2.650422,-0.654285,0.215413,-0.500619,2.779709,0.870186,...,-0.943919,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
3,NP_000436,NaN,plectin isoform 1c,1.107561,2.646374,-0.632113,0.205377,-0.510459,2.797995,0.866423,...,-0.935355,-0.487772,-0.10668,-0.055893,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
4,NP_958781,NaN,plectin isoform 1e,1.115180,2.646374,-0.640428,0.215413,-0.503899,2.787023,0.870186,...,-0.935355,-0.503853,-0.10668,-0.062523,0.651264,-0.556675,-0.395581,0.603993,-0.167079,0.576747

In [20]:
df_77proteomes.to_csv("./app/data/77_cancer_proteomes_CPTAC_itraq_with_columns.csv", index=False)
read_df_77proteomes = pd.read_csv("./app/data/77_cancer_proteomes_CPTAC_itraq_with_columns.csv")
read_df_77proteomes.head()

,refseq_accession_number,gene_symbol,gene_name,ao_a12d_01tcga,c8_a131_01tcga,ao_a12b_01tcga,bh_a18q_02tcga,c8_a130_02tcga,c8_a138_03tcga,e2_a154_03tcga,...,ao_a12b_34tcga,a2_a0sw_35tcga,ao_a0jl_35tcga,bh_a0bv_35tcga,a2_a0ym_36tcga,bh_a0c7_36tcga,a2_a0sx_36tcga,263d3f_i_cptac,blcdb9_i_cptac,c4155b_c_cptac
0,NP_958782,PLEC,plectin isoform 1,1.096131,2.609943,-0.659828,0.195341,-0.494060,2.765081,0.862659,...,-0.963904,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.398560,0.598585,-0.191285,0.566975
1,NP_958785,NaN,plectin isoform 1g,1.111370,2.650422,-0.648742,0.215413,-0.503899,2.779709,0.870186,...,-0.938210,-0.487772,-0.10668,-0.055893,0.658143,-0.547749,-0.392601,0.606697,-0.183918,0.578702
2,NP_958786,PLEC,plectin isoform 1a,1.111370,2.650422,-0.654285,0.215413,-0.500619,2.779709,0.870186,...,-0.943919,-0.487772,-0.10668,-0.065838,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
3,NP_000436,NaN,plectin isoform 1c,1.107561,2.646374,-0.632113,0.205377,-0.510459,2.797995,0.866423,...,-0.935355,-0.487772,-0.10668,-0.055893,0.655850,-0.552212,-0.392601,0.603993,-0.186022,0.576747
4,NP_958781,NaN,plectin isoform 1e,1.115180,2.646374,-0.640428,0.215413,-0.503899,2.787023,0.870186,...,-0.935355,-0.503853,-0.10668,-0.062523,0.651264,-0.556675,-0.395581,0.603993,-0.167079,0.576747